DATABASE_URL="postgresql://user:password@localhost:3303/emailops"
REDIS_HOST="localhost"
REDIS_PORT=3302
PORT=3300
WORKER_PORT=3301

NEXT_PUBLIC_API_URL="http://localhost:3300"

ENCRYPTION_SECRET=123_dev
